<h2>会員情報</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-light">
            <tbody>
                <tr>
                    <td>会員ID</td>
                    <td></td>    
                </tr>
                <tr>
                    <td>企業名</td>
                    <td></td>                        
                </tr>
                <tr>
                    <td>住所</td>
                    <td></td>    
                </tr>
                <tr>
                    <td>代表者名</td>
                    <td></td>    
                </tr>
                <tr>
                    <td>電話番号</td>
                    <td></td> 
                </tr>
            </tbody>
        </table>
        
        <br>
        
        <p>マッチングリスト</p>
        <table class="table table-striped">
            <thead class"thead-light">
                <tr>
                    <th>企業名</th>
                    <th>offer内容</th>
                    <th>電話番号</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <tr></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<p><%= link_to '>HOME', homes_index_path(); %></p>